@tailwind base;
@tailwind components;
@tailwind utilities;

.expressive-code {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* to center mathematical formulas */
.katex {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
