---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"404: Not Found"}
      description={"The requested page was not found"}
    />
  </head>
  <body class="text-midnight font-main dark:bg-midnight dark:text-offwhite">
    <Header />
    <div class="flex flex-col justify-center items-center h-screen">
      <main class="flex flex-col flex-1 gap-2 justify-center items-center">
        <h1 class="font-bold text-[3rem]">404</h1>
        <p class="text-2xl">The page you requested was not found</p>
        <pre id="404-path" class="p-1 rounded-md border border-mediumgray">
        </pre>
      </main>
      <Footer />
    </div>
    <script>
      document.getElementById("404-path")!.textContent =
        window.location.pathname;
    </script>
  </body>
</html>
