---
// import HeaderLink from "~/components/HeaderLink.astro";
import { DarkModeSwitch } from "~/components/islands/DarkModeSwitch";

import { SITE_TITLE } from "~/consts";
---

<header class="w-full">
  <nav class="flex gap-2 items-center p-4 text-xl shadow-md dark:shadow-black">
    <div class="flex items-center">
      <svg
        width="2rem"
        height="2rem"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        ><path
          d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"
        ></path></svg
      >
      <h2><a href="/">{SITE_TITLE}</a></h2>
    </div>
    <div class="flex gap-16 ml-auto">
      <DarkModeSwitch client:only />
    </div>
  </nav>
</header>
