---
import { DarkModeSwitch } from "~/components/islands/DarkModeSwitch";

import { SITE_TITLE } from "~/consts";
---

<header class="w-full">
  <nav
    class="flex fixed z-50 gap-2 items-center p-4 w-full text-xl shadow-md dark:bg-transparent bg-offwhite backdrop-blur-md dark:shadow-black"
  >
    <div class="flex gap-4 items-center">
      <h2 class="font-mono"><a href="/">{SITE_TITLE}</a></h2>
    </div>
    <div class="flex gap-16 ml-auto">
      <DarkModeSwitch client:only />
    </div>
  </nav>
</header>
