---

---

<!-- class="prose prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline dark:prose-invert" -->
<div
  class="prose prose-h2:text-xl prose-h2:font-bold prose-a:underline prose-ul:ml-[2rem] prose-ul:list-disc prose-ol:list-decimal prose-ol:ml-[2rem] prose-blockquote:font-mono prose-blockquote:text-md prose-blockquote:ml-[2rem] prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:w-fit prose-blockquote:mx-auto prose-blockquote:mr-[3rem] prose-blockquote:text-offwhite prose-blockquote:bg-mediumgray prose-blockquote:border-midnight dark:prose-blockquote:border-offwhite dark:prose-blockquote:bg-blockquote dark:prose-blockquote:text-offwhite"
>
  <slot />
</div>
